@use '../App'

.footer
  background-color: white
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  display: grid
  grid-template-columns: repeat(2, auto)
  padding: 10px 20px
  height: App.$footer-height
  align-items: center
  box-shadow: 0 -1px 10px rgba(0,0,0,.3)

#hidden-file-input
  display: none

#displayed-file-input
  justify-self: start
  display: grid
  grid-template-columns: repeat(2, auto)
  grid-gap: 15px
  align-items: center
  font-size: 14px

  button
    font-family: App.$font
    background-color: hsl(0,0,90)
    border: none
    border-radius: 5px
    padding: 8px
    display: block

  span
    max-width: 1000px
    display: block
    overflow: hidden
    text-overflow: ellipsis



#help-button
  justify-self: end
  width: 30px